<!-- courses/templates/courses/completion_confirmation.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Completion</title>
  </head>
  <body>
    <h1>Course Completed!</h1>
    <p>
      Congratulations! You have completed the course: {{ enrollment.course.title
      }}
    </p>
    <a href="{% url 'course_detail' enrollment.course.id %}"
      >Go to Course Details</a
    >
  </body>
</html>
